@media screen and (min-width: 1081px) {
  aside {
    width: 20rem;
  }
}

@media screen and (max-width: 1080px) {
  aside {
    width: 15rem;
  }
}

@media screen and (max-width: 720px) {
  aside {
    width: 100%;
    visibility: collapse;
  }
}

aside {
  background-image: inherit;
  position: fixed;
  top: 4rem;
  left: 0;
  bottom: 2rem;
  z-index: 10;

  overflow-y: auto;

  border-right: 1px solid #00000060;
}

aside h1 {
  margin: 1rem;
  text-align: center;
  font-weight: 400;
}

aside ul {
  list-style: none;
  margin: auto;
  padding: 0;
  max-width: 90%;
}

aside ul li a {
  /* couleur de fond */
  color: black;
  /* Black text color */
  display: block;
  /* Make the links appear below each other */
  overflow: hidden;
  padding: 12px;
  /* Ajout padding (espace supplémentaire) */
  text-decoration: none;
  /* Efface le souligné des liens */
  align-items: center;
  border-radius: 15px;
}

aside ul li a:hover {
  /* utilisateur survole le menu */
  background-color: #fcb045;
  transition: all 0.2s;
  text-decoration: underline;
}

aside ul li.active>a {
  background-color: #94cbdc;
  color: purple;
  font-weight: bold;
}