header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 4rem;
  z-index: 20;

  padding: 0.5rem 1rem;

  background: inherit;

  border-bottom: 0.2px solid #00000060;
}

header h1 {
  margin: auto;
}

header h1 a {
  color: black;
  font-size: 2rem;
  margin: auto;
  text-decoration: none;
}