header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 4rem;
  z-index: 20;

  padding: 0.5rem 1rem;

  background: inherit;

  border-bottom: 0.2px solid #00000060;
}

header img {
  height: 3rem;
}

header a {
  text-decoration: none;
}

header span {
  color: black;
  font-size: 2rem;
}

@media screen and (min-width: 751px) {
  header a span {
    visibility: visible;
  }
}

@media screen and (max-width: 750px) {
  header a span {
    visibility: collapse;
  }
}