legend {
    background-color: gray;
    color: white;
    padding: 5px 10px;
}

fieldset {
    /*padding: 1 10px 10px 10px 30px;
      margin-bottom: 5px;*/
    border: 2px solid #a2b11a;
    background-image: linear-gradient(109.6deg, rgba(254, 248, 154, 1) 00%, rgba(161, 224, 186, 1) 100%);
}

textarea {
    min-width: 220px;
    max-width: 220px;
    max-width: 310px;
    max-height: 270px;
}

.formulaire {
    margin-left: 0%;
    box-sizing: border-box;
    border-radius: 50px;
    /*height: 450px;*/
    padding: 20px;
    /*width: 500px;*/
    border: 10px solid purple;
    text-align: center;
    justify-content: center;
    /*transition: all 90s;*/
    /*background-color: #006640;*/
}

select {
    border: 1px solid #ccc;
    border-radius: 3px;
    overflow: hidden;
    background: #fafafa no-repeat 90% 50%;
    padding: 2px 4px;
}

.dateNaiss {
    border-color: silver;
}

input {
    padding: 10px;
    background: #DFFFDF;
    border: 1px solid black;
    /* pas mal aussi dashed*/
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 15px;
}


input:focus-within {
    transform: translateY(-4px);
    background: hsla(199, 98%, 48%, .2);
    box-shadow: 0 0 10px #ddd;
    border-color: hsl(199, 98%, 48%);
    transition: all 0.7s;

}

input:valid {

    padding: 10px;
    background: aliceblue;
    border: 2px solid blue;

}

input:valid:not([type="date"], [type="submit"]) {
    background-image: url(./valid.png);
    background-position: right 7px top 7px;
    background-repeat: no-repeat;
}

input:invalid {
    background: peachpuff;
}

input:invalid:not([type="date"], [type="submit"]) {
    background-image: url(./invalid.png);
    background-position: right 7px top 7px;
    background-repeat: no-repeat;
}

:placeholder-shown {
    border-color: silver;
    text-overflow: ellipsis;
}

input[type=submit],
input[type=reset] {
    width: auto;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    /* effet click */
    font-weight: bold;
    font-size: 18px;
}

input[type=submit]:hover {
    background-color: #45a049;
}

input[type=reset] {
    background-color: #4A70DF;
}

input[type=reset]:hover {
    background-color: #e13f3f;
    transition: all 0.7s;
}

/* table css */

table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-size: 0.8rem;
}

td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 10px 20px;
}

th {
    background-color: rgb(235, 235, 235);
}

td {
    text-align: center;
}

tr:nth-child(even) td {
    background-color: rgb(250, 250, 250);
}

tr:nth-child(odd) td {
    background-color: rgb(245, 245, 245);
}

caption {
    padding: 10px;
}

.background {
    margin: 0;
    padding: 0;
    overflow: hidden;
    align-items: center;
    background: rgb(34, 193, 195);
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
    background-repeat: no-repeat;
    height: 100vh;
}