@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
}

body {
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(215, 223, 252, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(215, 223, 252, 1) 84%);
    background-repeat: no-repeat;
    background-attachment: local;
    overflow-x: hidden;

    font-family: 'Noto Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: 16px;
}

@media screen and (min-width: 721px) {
    main {
        left: 20rem;
    }
}

@media screen and (max-width: 720px) {
    main {
        left: 0;
    }

    aside {
        width: 100%;
        visibility: collapse;
    }
}

@media screen and (min-width: 1081px) {
    aside {
        width: 20rem;
    }
}

@media screen and (max-width: 1080px) {
    aside {
        width: 15rem;
    }
}


main {
    position: absolute;
}

article {
    margin: 1.5rem auto 2rem;
    max-width: 80%;
}

article p,
article li {
    margin: 0.4rem;
    word-spacing: .05rem;
    line-height: 1.6rem;
}

article h1 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 3rem;
}

article h2 {
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 2rem;
}

article h3 {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2rem;
}

aside {
    background-image: inherit;
    position: fixed;
    top: 4rem;
    left: 0;
    z-index: 10;

    overflow-y: auto;

    border-right: 1px solid #00000060;
}

aside h1 {
    margin: 1rem;
    text-align: center;
    font-weight: 400;
}

aside ul {
    list-style: none;
    margin: auto;
    padding: 0;
    max-width: 90%;
}

aside ul li a {
    /* couleur de fond */
    color: black;
    /* Black text color */
    display: block;
    /* Make the links appear below each other */
    overflow: hidden;
    padding: 12px;
    /* Ajout padding (espace supplémentaire) */
    text-decoration: none;
    /* Efface le souligné des liens */
    align-items: center;
    border-radius: 15px;
}

aside ul li a:hover {
    /* utilisateur survole le menu */
    background-color: #fcb045;
    transition: all 0.2s;
    text-decoration: underline;
}

aside ul li.active>a {
    background-color: #94cbdc;
    color: purple;
    font-weight: bold;
}