* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    --header-height: 3.6rem;
}

body,
html {
    height: 100vh;
    width: 100vw;
}

body {
    background: #e3e9ff;

    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

/* navbar part */

header {
    position: fixed;
    height: var(--header-height);
    width: 100%;
    min-width: 560px;
    border-bottom: 1px solid grey;
    padding: 0.8rem 2rem;
    z-index: 10;
    background: #d5deff;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .site-title {
    display: flex;
    align-items: center;
}

header .site-title>img {
    margin-right: 1rem;
    height: 2rem;
}

header .site-title>span {
    font-weight: 600;
    font-size: 1.6rem;
}

.navbar {
    display: flex;
}

.nav-item {
    margin-left: 1.6rem;
    position: relative;
}

.nav-item .nav-item-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: max-content;
    z-index: 20;
    padding: 1rem 2rem;
    border-radius: 0.2rem;
    border: 1px solid gray;
    background: #e3e9ff;
}

.nav-item:focus .nav-item-dropdown {
    display: block;
}

/* article part */

article {
    position: absolute;
    top: var(--header-height);
    left: 0;
    right: 0;
    max-width: 80%;
    margin: 5rem auto;
}

.dropdown-arrow {
    display: inline-block;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 6px solid black;
}