@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

body {
  background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(215, 223, 252, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(215, 223, 252, 1) 84%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;

  font-family: 'Noto Sans', 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
}

@media screen and (min-width: 721px) {
  main {
    left: 20rem;
  }
}

@media screen and (max-width: 720px) {
  main {
    left: 0;
  }
}


main {
  position: absolute;
  top: 4rem;
  bottom: 2rem;

  display: block;

  background: inherit;
}

main article {
  margin: 1.5rem auto 2rem;
  max-width: 80%;
}

main article p,
main article li {
  margin: 0.4rem;
  word-spacing: .05rem;
  line-height: 1.6rem;
}

main article h1 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 3rem;
}

main article h2 {
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 2rem;
}

main article h3 {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2rem;
}